include ../markup/mixins

- const known_hotels = hotels.filter(hotel => !!hotel.id);

body
    +internal-nav([
        { label: 'Преимущества', ref: 'section.advantages' },
        { label: 'Услуги и удобства', ref: 'section.perfection' },
        { label: 'Отели', ref: 'section.rixos-hotels' },
        { label: 'CoralBonus', ref: 'section.coral-bonus' },
        { label: 'Контакты', ref: 'section.leased-line-premium' },
    ], '#_', '.interactive-map', { label: 'Выбрать отель', ref: 'section.rixos-hotels' })

    +kvv({
        h1: 'All Inclusive – All Exclusive',
        desktop_poster: '/site/coral.ru/assets/kv-poster-desktop.jpg',
        mobile_poster: '/site/coral.ru/assets/kv-poster-mobile.jpg',
        desktop_vid: 994946039,
        mobile_vid: 994946012
    })

    section.held.intro.unique-concept
        .inhalt
            p.generic
                :typo
                    Rixos — это воплощение роскоши. Наша уникальная концепция All Inclusive – All Exclusive сочетает в себе все преимущества системы «Все включено» с особыми привилегиями, доступными только вам. Rixos предлагает гостям исключительные возможности, превосходящие все ожидания. Rixos — это гармония концепции «Все включено» с роскошной, оживленной атмосферой и идеальным отдыхом для всей семьи. В Rixos ваши мечты об идеальном отдыхе становятся реальностью!
            .actions
                button.knopf(data-ref='section.rixos-hotels') Забронировать

    section.held.edge2edge.visuals-x-slider(data-pinup)
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/01-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/01-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/02-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/02-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/03-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/03-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/04-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/04-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/05-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/05-mobile.jpg)')

    section.held.advantages
        .inhalt
            h2 Преимущества отдыха в Rixos
            .cards-stack
                .stack
                    .stack-item
                        .visual(style='background-image: url("/site/coral.ru/assets/advantages/marvelous-interriors.jpg")')
                        .info
                            h3 Изысканные интерьеры
                            .description
                                :typo
                                    В отелях Rixos вас ожидают изысканные интерьеры и продуманные до мелочей пространства. В номерах сочетаются элегантный дизайн, высококачественные материалы и современные удобства, создавая атмосферу абсолютного комфорта. Просторные номера, роскошные текстуры и утонченные элементы декора подчеркивают уникальный стиль и гостеприимство отелей Rixos.

                    .stack-item
                        .visual(style='background-image: url("/site/coral.ru/assets/advantages/premium-service.jpg")')
                        .info
                            h3 Премиум-обслуживание
                            .description
                                :typo
                                    Высококвалифицированный персонал всегда готов помочь и сделать отдых гостей максимально комфортным, предлагая им исключительные возможности:
                                ul
                                    li
                                        :typo
                                            Спа, сауна, массаж и другие процедуры для восстановления и оздоровления.
                                    li
                                        :typo
                                            Разнообразные развлечения, дискотеки, анимация.
                                    li
                                        :typo
                                            Фитнес-центры с тренажерами всех видов, возможности для групповых занятий, водные виды спорта.
                                    li
                                        :typo
                                            Развлекательные программы для детей.
                    .stack-item
                        .visual(style='background-image: url("/site/coral.ru/assets/advantages/coulinary-diversity.jpg")')
                        .info
                            h3 Кулинарное разнообразие
                            .description
                                :typo
                                    Откройте для себя рестораны с блюдами со всего мира, приготовленные лучшими шеф-поварами. В отелях сети вы можете насладиться блюдам из итальянской, турецкой, греческой, азиатской, французской, мексиканской, тайской кухни.
                    .stack-item
                        .visual(style='background-image: url("/site/coral.ru/assets/advantages/fitness.jpg")')
                        .info
                            h3 Активный отдых
                            .description
                                :typo
                                    Спорт и приятный досуг являются неотъемлемой составляющей отдыха в Rixos. Не имеет значения, ищете ли вы новых ощущений, отдыхаете в одиночку или всей семьей, хочется ли вам улучшить технику игры в теннис или пробудить свои чувства с помощью комплекса асан.
                    .stack-item
                        .visual(style='background-image: url("/site/coral.ru/assets/advantages/rixy-club.jpg")')
                        .info
                            h3 Rixy Club
                            .description
                                :typo
                                    Идеальный отдых — это счастливая семья. Расслабьтесь и отдохните, пока ваши любимые малыши веселятся под присмотром внимательных профессионалов. Сотрудники детских клубов Rixy позаботятся о детях любого возраста.
                    .stack-item
                        .visual(style='background-image: url("/site/coral.ru/assets/advantages/entertainment.jpg")')
                        .info
                            h3 Развлекательная программа
                            .description
                                :typo
                                    Яркие шоу и запоминающиеся выступления делают тщательно составленную развлекательную программу главным притягательным элементом отелей и курортов Rixos.
                button.shifter.backward
                .paging
                    span.current
                    span.sep /
                    span.total
                button.shifter.forward

    section.held.perfection
        .inhalt
            .info
                h2 Совершенство гостеприимства
                .description
                    :typo
                        Сеть отелей Rixos была основан в 2000-х годах в Турции. Сегодня под этим брендом открыто более 25 отелей в Египте, ОАЭ, России, Хорватии и других странах мира. Rixos не собирается останавливаться на достигнутом, открывая новые отели в самых живописных местах отдыха.
            .slider-combo
                .scroll-slider
                    .slide
                        .visual(style='background-image: url("/site/coral.ru/assets/perfection/wellness-and-spa.jpg")')
                        h4 Велнес и спа мирового уровня
                    .slide
                        .visual(style='background-image: url("/site/coral.ru/assets/perfection/sports.jpg")')
                        h4 Бескрайний Мир спорта и активного отдыха
                    .slide
                        .visual(style='background-image: url("/site/coral.ru/assets/perfection/leasure.jpg")')
                        h4 Яркий отдых для всей семьи
                    .slide
                        .visual(style='background-image: url("/site/coral.ru/assets/perfection/food.jpg")')
                        h4 Исключительное питание и напитки
                    .slide
                        .visual(style='background-image: url("/site/coral.ru/assets/perfection/direction.jpg")')
                        h4 Поистине незабываемые направления
                    .slide
                        .visual(style='background-image: url("/site/coral.ru/assets/perfection/entertainment.jpg")')
                        h4 Потрясающие развлечения

                .discrete-pager

    section.held.rixos-hotels
        .inhalt
            h2 Отели Rixos в Египте
            .hotels-grid
                each hotel in known_hotels
                    +hotel-card(hotel)
            .discrete-pager

    +coral-bonus('pinup')

    +contacts-and-map()
