body
    section.nav.edge2edge
        nav
            a.logo(href='#_')
            .burger
                label.toggle(for='burger-open')
                input(type='checkbox', id='burger-open')
                ul.shortcuts
                    li Преимущества
                    li Услуги и удобства
                    li Отели
                    li CoralBonus
                    li Контакты
            a.map(href='#_')

    section.held.edge2edge.kv
        .backdrop.vimeo-video-box
            .vimeo-player.hidden-on-mobile(data-vimeo-vid=994946039)
            .vimeo-player.hidden-on-desktop(data-vimeo-vid=994946012)

        .overlay
            .rixos-logo
            h1 All Inclusive – All Exclusive

    section.held.unique-concept
        .inhalt
            p.generic
                :typo
                    Rixos — это воплощение роскоши. Наша уникальная концепция All Inclusive – All Exclusive сочетает в себе все преимущества системы «Все включено» с особыми привилегиями, доступными только вам. Rixos предлагает гостям исключительные возможности, превосходящие все ожидания. Rixos — это гармония концепции «Все включено» с роскошной, оживленной атмосферой и идеальным отдыхом для всей семьи. В Rixos ваши мечты об идеальном отдыхе становятся реальностью!
            .actions
                button.knopf Забронировать

    section.held.edge2edge.visuals-x-slider
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/01-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/01-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/02-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/02-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/03-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/03-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/04-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/04-mobile.jpg)')
        .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/visuals/05-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/visuals/05-mobile.jpg)')