body
    section.held.kv
        .backdrop

        .inhalt
            .rixos-logo
            h1 All Inclusive – All Exclusive

    section.held.unique-concept
        .inhalt
            p.generic
                :typo
                    Rixos — это воплощение роскоши. Наша уникальная концепция All Inclusive – All Exclusive сочетает в себе все преимущества системы «Все включено» с особыми привилегиями, доступными только вам. Rixos предлагает гостям исключительные возможности, превосходящие все ожидания. Rixos — это гармония концепции «Все включено» с роскошной, оживленной атмосферой и идеальным отдыхом для всей семьи. В Rixos ваши мечты об идеальном отдыхе становятся реальностью!
            .actions
                button.knopf Забронировать