include ../markup/mixins

- const hotel = hotels.find(hotel => hotel.id === 13279);

body
    script
        != `var known_hotel = ${ JSON.stringify(hotel) };`

    +internal-nav([
        { label: 'Номера', ref: 'section.suites' },
        { label: 'Рестораны и бары', ref: 'section.restaurants-and-bars' },
        { label: 'RixyClub', ref: 'section.rixy-club' },
        { label: 'CoralBonus', ref: 'section.coral-bonus' },
        { label: 'Контакты', ref: 'section.leased-line-premium' },
    ], '/chain/rixos/egypt/', '.interactive-map')

    +kvv({
        h1: 'Rixos Premium Seagate',
        logo: '/site/coral.ru/assets/logos/rixos-premium-seagate.png',
        desktop_poster: '/site/coral.ru/assets/rixos-premium-seagate/kv-poster-desktop.jpg',
        mobile_poster:  '/site/coral.ru/assets/rixos-premium-seagate/kv-poster-mobile.jpg',
        desktop_vid: 995713321,
        mobile_vid: 995713573,
        video_scale: 1.5,
        five_stars: true,
        location: 'Египет, Шарм-эш-Шейх'
    })

    section.held.intro
        .inhalt
            h2 Добро пожаловать <br>в Rixos Premium Seagate
            p.generic
                :typo
                    Расположенный в живописном Шарм-эш-Шейхе, Rixos Premium Seagate предлагает роскошный отдых с панорамным видом на Красное море. Наслаждайтесь концепцией «Все включено», включающей изысканные рестораны и бары, первоклассные развлечения, разнообразные варианты питания и превосходные оздоровительные и спортивные объекты. Отель предлагает элегантные номера и люксы с прямым выходом на пляж, а также современные конференц-залы и банкетные помещения
            .actions
                button.knopf(data-ref='section.suites') Выбрать номер

    section.held.suites
        .inhalt
            h2.rooms-splitter
            .rooms-list-combo
                .rooms-grid
                .rooms-paging.discrete-pager

    +gallery([
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/01-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/01-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/02-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/02-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/03-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/03-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/04-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/04-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/05-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/05-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/06-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/06-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/07-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/07-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/08-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/gallery/08-mobile.jpg' },
    ])

    +restaurants-and-bars({
        about: 'Насладитесь бескрайним множестов ресторанов в Rixos Premium Seagate где для вас запомнятся новые незабываемые вкусы и безупречное обслуживание.',
        restaurants: [
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-01.jpg',
                heading: 'Turquoise',
                body:    'Turquoise, ресторан курорта, работающий в течение всего дня, предлагает роскошный открытый «шведский стол» с изысканными блюдами лучших кухонь мира.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-02.jpg',
                heading: 'Фуд-Корт',
                body:    'Открытый ресторанный дворик рядом с пляжем. Насладитесь идеальными бургерами, аравийской шаурмой, чизбургерами, салатами, пастой и пиццей, картофелем фри и многим другим.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-03.jpg',
                heading: 'L\'olivo',
                body:    'Насладитесь изысканными блюдами в самом роскошном ресторане с широким выбором пасты, пиццы и блюд традиционной итальянской кухни.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-04.jpg',
                heading: 'asian',
                body:    'Ресторан стремится предлагать качественные аутентичные блюда дальневосточной кухни в расслабленной обстановке. Свежие ингредиенты, современная обстановка, вкусные блюда.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-05.jpg',
                heading: 'Epicure',
                body:    'Epicure предлагает широкий выбор изысканных блюд французской кухни — от традиционных до новаторских, приготовленных из свежих ингредиентов от местных производителей.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-06.jpg',
                heading: 'La Churrascaria',
                body:    'Попробуйте лучшие аппетитные бразильских блюда, в том числе из первосортной говядины, из которой опытные повара создают настоящие произведения искусства — сочные стейки.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-07.jpg',
                heading: 'Executive Lounge',
                body:    'Насладитесь восхитительными блюдами в нашем изысканном ресторане a la carte. В его меню вкусные завтраки, обеды и ужины; уютная и утонченная атмосфера для наших уважаемых VIP-гостей.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-08.jpg',
                heading: 'The Mangal',
                body:    'Ресторан Mangal расположен на берегу Красного моря, в тени высоких пальм и под нежным морским бризом, где рядом с каждым столом есть гриль и опытные шеф-повара готовят разнообразное мясо.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-09.jpg',
                heading: 'Salt',
                body:    'Ресторан морепродуктов предлагает отличное меню свежей рыбы и сезонных блюд для отдыха в уникальной атмосфере за непринужденной беседой с изысканными морепродуктами и бутылкой вина.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-10.jpg',
                heading: 'People\'s',
                body:    'Отдохните от солнца и насладитесь невероятными блюдами со всего мира. У нас есть варианты на любой вкус, включая бар Sushi & Teppanyaki, где подают только самые свежие продукты.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-11.jpg',
                heading: 'Lalezar',
                body:    'Отправьтесь в кулинарное путешествие, в котором традиционная турецкая кухня сочетается с элегантным османским дизайном и обслуживанием.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-12.jpg',
                heading: 'Veranda',
                body:    'В Veranda Вас ждет великолепная подача интернациональной кухни, а также внимательное обслуживание, лучшие повара, невероятно вкусные и разнообразные блюда.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/rest-13.jpg',
                heading: 'Mykonos',
                body:    'Побалуйте себя вкусами Греции в ресторане, где вы сможете насладиться настоящей греческой кухней в невероятной атмосфере с элегантным декором и потрясающей сервировкой стола.'
            },
        ],
        bars: [
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-01.jpg',
                heading: 'Бар В Фойе Piano',
                body:    'Это элегантное место, где можно расслабиться, наслаждаясь чашечкой ароматного чая или коктейлем. Кроме того, в течение дня через определенные интервалы в баре подают свежемолотый кофе.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-02.jpg',
                heading: 'Бар У Бассейна Lagoon',
                body:    'Бар у бассейна Lagoon — прекрасное место для отдыха и общения с друзьями с экзотическим коктейлем в руке.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-03.jpg',
                heading: 'Бар У Бассейна Fountain',
                body:    'Это место для отдыха расположено рядом с бассейном с фонтанами, куда можно окунуться, взяв с собой что-нибудь вкусненькое.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-04.jpg',
                heading: 'Rixos Arena Bar',
                body:    'Rixos Arena Bar — место, где вы почувствуете ритм музыки без границ. Выступления всемирно известных диджеев и концерты суперзвезд добавят радости вашему отдыху.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-05.jpg',
                heading: 'Entertainment Pool Bar',
                body:    'Entertainment Pool Bar славится богатым, роскошным интерьером и меню новых и классических коктейлей.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-06.jpg',
                heading: 'Ixir Vitamin',
                body:    'Два бара IXIR Vitamin расположены в спа-центре Anjana Spa, где можно насладиться свежими соками и безалкогольными напитками после успокаивающих оздоровительных процедур.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-07.jpg',
                heading: 'Detox Bar',
                body:    'Ценителям здорового образа жизни предложат разнообразные свежевыжатые фруктовые и овощные соки в этом оздоровительном центре на Красном море.'
            },
            {
                visual:  '/site/coral.ru/assets/rixos-premium-seagate/restaurants-and-bars/bar-08.jpg',
                heading: 'Лобби-Гостиная (Aqua)',
                body:    'В лобби-гостиной круглосуточно предлагают алкогольные и безалкогольные напитки, а также вкусные закуски и десерты.'
            },
        ]
    })

    section.held.edge2edge.rixy-club.visuals-x-slider
        .x-slider
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-01-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-01-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-02-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-02-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-03-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-03-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-04-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-04-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-05-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-premium-seagate/visuals/rixy-club-05-mobile.jpg)')
        .overlay
            h2 Rixy Club
            p
                :typo
                    Незабываемое время для детей и для взрослых. Идеальный семейный отдых по программе «все включено ультра»
            p
                :typo
                    В нашем расписании развлечений для детей множество мероприятий с утра и до вечера. Детям в возрасте от 4 до 12 лет понравится увлекательный парад соревнований, ремесел, кинопоказов, спортивных мероприятий и игр — идеальное сочетание игр и развлечений

    +entertainment({
        ps: [
            'На территории Rixos Premium Seagate расположены превосходные спортивные сооружения, включая площадки для пляжного волейбола и теннисный корт. В фитнес-центре и тренажерном зале под открытым небом могут заниматься гости любого уровня подготовки, а семь бассейнов предназначены как для спортивного плавания, так и для отдыха на воде. И, конечно, обязательной частью программы является купание в Красном море.',
            'Что может расслабить больше, чем отдых по системе «все включено»? Посещение нашего роскошного турецкого спа-салона Anjana. Воспользуйтесь бесплатным доступом в этот оазис безмятежности, где есть сауна, парная, джакузи и витаминный бар. Вас ждет полное расслабление.'
        ],
        lefty: {
            title: 'Полное расслабление в спа-салоне',
            visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/visuals/entertainment-01-desktop.jpg',
            visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/visuals/entertainment-01-mobile.jpg'
        },
        righty: {
            title: 'Занятия спортом и фитнесом',
            visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/visuals/entertainment-02-desktop.jpg',
            visual_mobile: '/site/coral.ru/assets/rixos-premium-seagate/visuals/entertainment-02-mobile.jpg'
        }
    })

    +coral-bonus()
    +contacts-and-map()
