include ../markup/mixins

- const hotel = hotels.find(hotel => hotel.id === 13279);

body
    script
        != `var known_hotel = ${ JSON.stringify(hotel) };`

    +internal-nav([
        { label: 'Номера', ref: 'section.suites' },
        { label: 'Рестораны и бары', ref: 'section.restaurants-and-bars' },
        { label: 'RixyClub', ref: 'section.rixy-club' },
        { label: 'CoralBonus', ref: 'section.coral-bonus' },
        { label: 'Контакты', ref: 'section.leased-line-premium' },
    ], '#_', '.interactive-map')

    +kvv({
        h1: 'Rixos Premium Seagate',
        logo: '/site/coral.ru/assets/logos/rixos-premium-seagate.png',
        desktop_poster: '/site/coral.ru/assets/rixos-premium-seagate/kv-poster-desktop.jpg',
        mobile_poster:  '/site/coral.ru/assets/rixos-premium-seagate/kv-poster-mobile.jpg',
        desktop_vid: 995713321,
        mobile_vid: 995713573,
        video_scale: 1.5,
        five_stars: true,
        location: 'Египет, Шарм-эш-Шейх'
    })

    section.held.intro
        .inhalt
            h2 Добро пожаловать <br>в Rixos Premium Seagate
            p.generic
                :typo
                    Расположенный в живописном Шарм-эш-Шейхе, Rixos Premium Seagate предлагает роскошный отдых с панорамным видом на Красное море. Наслаждайтесь концепцией «Все включено», включающей изысканные рестораны и бары, первоклассные развлечения, разнообразные варианты питания и превосходные оздоровительные и спортивные объекты. Отель предлагает элегантные номера и люксы с прямым выходом на пляж, а также современные конференц-залы и банкетные помещения
            .actions
                button.knopf(data-ref='section.suites') Выбрать номер

    section.held.suites
        .inhalt
            h2.rooms-splitter
            .rooms-list-combo
                .rooms-grid
                .rooms-paging.discrete-pager

    +gallery([
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/01-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/01-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/02-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/02-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/03-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/03-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/04-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/04-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/05-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/05-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/06-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/06-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/07-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/07-mobile.jpg' },
        { visual_desktop: '/site/coral.ru/assets/rixos-premium-seagate/gallery/08-desktop.jpg', visual_mobile: 'site/coral.ru/assets/rixos-premium-seagate/gallery/08-mobile.jpg' },
    ])

    section.held.restaurants-and-bars
        .inhalt
            h2 Рестораны и бары
            p.generic
                :typo
                    Отправьтесь в гастрономическое приключение.

    section.held.rixy-club
        .inhalt
