include ../markup/mixins

- const hotel = hotels.find(hotel => hotel.id === 52439);

body
    script
        != `var known_hotel = ${ JSON.stringify(hotel) };`

    +internal-nav([
        { label: 'Номера', ref: 'section.suites' },
        { label: 'Рестораны и бары', ref: 'section.restaurants-and-bars' },
        { label: 'Развлечения', ref: 'section.shows' },
        { label: 'CoralBonus', ref: 'section.coral-bonus' },
        { label: 'Контакты', ref: 'section.leased-line-premium' },
    ], '/chain/rixos/egypt/', '.interactive-map')

    +kvv({
        h1: 'Rixos Golf Villas & Suites',
        logo: '/site/coral.ru/assets/logos/rixos-golf-villas-suites.png',
        desktop_poster: '/site/coral.ru/assets/rixos-golf-villas-suites/kv-poster-desktop.jpg',
        mobile_poster:  '/site/coral.ru/assets/rixos-golf-villas-suites/kv-poster-mobile.jpg',
        desktop_vid: 999576055,
        mobile_vid: 999576465,
        video_scale: 1.5,
        five_stars: true,
        location: 'Египет, Шарм-эш-Шейх'
    })

    section.held.intro
        .inhalt
            h2 Добро пожаловать <br>в Rixos Golf Villas & Suites
            p.generic
                :typo
                    Rixos Golf Villas & Suites, расположенные среди прекрасных пейзажей, создают место, полное природной красоты Южного Синайского полуострова. Окруженный великолепными садами и полем для гольфа, контраст голубых вод и пышных зеленых садов создает великолепный курорт. Виллы и люксы Rixos Golf предлагают услуги «все включено» и «все эксклюзивно». Пребывание в Rixos Golf Villas & Suites предлагает больше, чем просто идеальное размещение: порцию вкусной еды и превосходное обслуживание, ресторан с роскошным шведским столом и уникальные привилегии в отелях Rixos Hotels Sharm El Sheikh, которые ждут вашего незабываемого отпуска.
            .actions
                button.knopf(data-ref='section.suites') Выбрать номер

    section.held.suites
        .inhalt
            h2.rooms-splitter
            .rooms-list-combo
                .rooms-grid
                .rooms-paging.discrete-pager

    +gallery([
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/01-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/01-mobile.jpg' },
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/02-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/02-mobile.jpg' },
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/03-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/03-mobile.jpg' },
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/04-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/04-mobile.jpg' },
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/05-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/05-mobile.jpg' },
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/06-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/06-mobile.jpg' },
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/07-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/07-mobile.jpg' },
       { visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/08-desktop.jpg', visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/gallery/08-mobile.jpg' },
    ])

    +restaurants-and-bars({
        about: "Rixos Golf Villas & Suites — это настоящий рай для гурманов с  изобилием кулинарных изысков. Будь то основные рестораны или один из  ресторанов с обслуживанием по меню, гости могут познакомиться с широким  разнообразием блюд разных стран, обещая изысканные гастрономические  впечатления. Побалуйте себя богатством вкусов каждого приема пищи.",
        restaurants: [
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/rest-01.jpg',
                heading: "Turquoise",
                body:    "Окунитесь в незабываемое гастрономическое путешествие по международным вкусам в главном ресторане Turquoise с самым большим шведским столом."
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/rest-02.jpg',
                heading: "Lalezar",
                body:    "Насладитесь богатым вкусом и яркими специями турецкой, марокканской и ливанской кухонь в эксклюзивной концепции ресторана Lalezar."
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/rest-03.jpg',
                heading: "asian",
                body:    "Почувствуйте атмосферу азиатских традиций, наслаждаясь незабываемым ужином. Экзотические вкусы и основа азиатской кухни отражаются в исключительных блюдах"
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/rest-04.jpg',
                heading: "DUCCIO",
                body:    "Откройте для себя оригинальную итальянскую кухню в теплой и уютной атмосфере ресторана Duccio. Наши блюда перенесут вас в мир итальянской кулинарии."
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/rest-05.jpg',
                heading: "People's",
                body:    "Путешествие в мир вкусов ждет вас в ресторане People’s, где высочайшее качество блюд сочетается с изысканным обслуживанием. Ресторан обслуживает гостей на завтрак и ужин."
            },
        ],
        bars: [
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/bar-01.jpg',
                heading: "Lobby Bar",
                body:    "Почувствуйте элегантность и изысканность нашего восхитительного лобби-бара. Побалуйте себя широким выбором искусно приготовленных напитков, наслаждаясь стильной атмосферой."
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/bar-02.jpg',
                heading: "PANORAMA BAR",
                body:    "Почувствуйте красоту каждого мгновения с живописными видами бара Panorama. Пробуя изысканные напитки и коктейли, вы проведете самое драгоценное время в прекрасной атмосфере."
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/bar-03.jpg',
                heading: "ENTERTAINMENT POOL BAR",
                body:    "Entertainment бар у бассейна предлагает уникальные впечатления, объединяя зажигательную атмосферу и безупречный сервис для гостей. "
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/bar-04.jpg',
                heading: "Irish Pub",
                body:    " Бар предлагает теплую и уютную атмосферу, где можно насладиться напитками и послушать музыку. Это идеальное место, чтобы провести время с друзьями в непринужденной обстановке."
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/bar-05.jpg',
                heading: "RELAX POOL BAR",
                body:    "Откройте для себя отдых у бассейна, наслаждаясь разнообразными напитками и закусками в Relax баре. Будьте готовы испытать настоящее удовольствие вместе с расслабляющими прохладными коктейлями."
            },
            {
                visual:  '/site/coral.ru/assets/rixos-golf-villas-suites/restaurants-and-bars/bar-06.jpg',
                heading: "Beach Bar",
                body:    "В жаркую погоду под активным солнцем отдохните в баре на пляже. Зарядитесь энергией с безалкогольными напитками и прохладной водой, а также свежевыжатыми соками и коктейлями."
            },
        ]
    })

    section.held.edge2edge.shows.visuals-x-slider
        .x-slider
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-01-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-01-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-02-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-02-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-03-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-03-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-01-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-01-mobile.jpg)')
            .x-slide(style='--visual-desktop: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-02-desktop.jpg); --visual-mobile: url(/site/coral.ru/assets/rixos-golf-villas-suites/visuals/show-02-mobile.jpg)')
        .overlay
            h2 АНИМАЦИЯ И РАЗВЛЕЧЕНИЯ
            p
                :typo
                    Представьте себе вечер с талантливыми музыкантами и танцевальным шоу, очаровавая наших гостей. Сочетание живой музыки и танцев создаст яркие и запоминающиеся впечатления, предлагая отдых, наполненный развлечениями и ритмами.

    +entertainment({
        heading: 'Спа и спортивный клуб Exclusive',
        ps: [
            'Множество спортивных мероприятий ждет наших активных путешественников. Exclusive Sports Club предлагает нашим гостям исключительные возможности для занятий спортом и отдыха. Мы предоставляем широкий выбор эксклюзивных тренировок для гостей всех интересов и уровней подготовки. Сочетание первоклассных удобств и опытных тренеров гарантирует, что каждое занятие станет незабываемым.',
            'Шагните в мир полного расслабления с нашим спа-салоном и оздоровительным центром. Позвольте себе расслабиться и омолодиться, отправляясь в путешествие, призванное успокоить ваши чувства и разум.'
        ],
        lefty: {
            title: 'Полное расслабление в спа-салоне',
            visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/visuals/entertainment-01-desktop.jpg',
            visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/visuals/entertainment-01-mobile.jpg'
        },
        righty: {
            title: 'Занятия спортом и фитнесом',
            visual_desktop: '/site/coral.ru/assets/rixos-golf-villas-suites/visuals/entertainment-02-desktop.jpg',
            visual_mobile: '/site/coral.ru/assets/rixos-golf-villas-suites/visuals/entertainment-02-mobile.jpg'
        }
    })

    +coral-bonus()
    +contacts-and-map()
