@import "./layout";
@import "./coral-colors";

.knopf() {
    .interactive();
    display: inline-grid;
    place-content: center;
    font-size: 16px;
    border-radius: .5em;
    line-height: 1;
    height: 3em;
    padding: 0 2em;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: .05em;
    background: @brand-nav-bg;
    color: white;
    border: 0;
    cursor: pointer;
}