.room-card
    .head
        img.ai-logo(src='/site/coral.ru/assets/ai.png')
        .name {{ name }}
        .pricing
            span.from от
            | {{ priceFormatted }}
            span.per-night за ночь
    // - var vs = '--visual:url({{visual}})'
    //.visual(style!=vs)
    .features
    a.choose-room(href='#_') Выбрать номер