.room-card
    .head
        .ai-logo
        .name {{ name }}
        .pricing от {{ priceFormatted }}
    .visual(style!='--visual: {{ visual }}')
    .features
    a.choose-room(href='#_') Выбрать номер