.room-card(data-room-id='{{ id }}')
    .head
        img.ai-logo(src='/site/coral.ru/assets/ai.png')
        .name {{ name }}
        .pricing
            span.from от
            | {{ priceFormatted }}
            span.per-night за ночь
    | {{{ tag_visual }}}
    .features
        .feature.area
            .icon
            .label Площадь <br>{{ room_area }}
        .feature.pax
            .icon: span.pax-count {{ pax }}
            .label Максимальное размещение
        .feature.balcony
            .icon
            .label Балкон или терраса
        .feature.bed
            .icon
            .label {{{ bedrooms }}}
    a.choose-room(href='{{ hotel_page_uri }}', target='_blank', data-ym-event='rixos-choose-room', data-ym-event-data-room='{{name}}', data-ym-event-data-idx='{{list_idx}}' data-ym-event-data-price='{{price}}' data-ym-event-data-hotel-name='{{hotel_name}}') Выбрать номер